- var pageTitle = Homepage
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{pageTitle}
    include pug/layout/styles

  body
    include pug/layout/header
    include pug/layout/intro
    include pug/layout/scripts


