
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{pageTitle}
    include pug/layout/styles
    body
      include pug/component/sitting-box          
      include pug/pages/page-sidebar
      include pug/layout/scripts                                                              