div(id="about")
  div.row 
   .col-md-6.col-12
     div.content-image.text-center 
      h2 About-Me
      .image
        img(src='@/assets/aziza.jpg' alt='')
   .col-md-6.col-12
     .container.py-lg-5
      .text
        p.text-left
            | Hi! I am Aziza Creative Freelance Web Designer I am
            | passionate
            | about designing beautiful and functional websites that
            | live on the
            | internet and makes a good website user experience.

   
   
   
   
   
   
   
   
   
   
   
   
   
   
