header(class="vh-100  d-flex justify-content-center align-items-center flex-column  demo")
  img(src="img/aziza.jpg")
  h1(class="sm-h2 text-white p-sm-1 p-3 text-center")
   span(class="mr-5") Hi i am
   span(class=" name") Aziza
   hr 
   span(class="h4 ")  front-end developer &  web-disgner





 







  







  
     
     

